{% extends 'mailing/base.html' %}
{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block content %}
                    <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:mailing_list'%}">Mailings</a>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:clients'%}">Clients</a>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:messages'%}">Messages</a><br> <br>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:messages'%}">Messages</a>

{% endblock %}
</body>
</html>